{% extends 'map/base.html' %}

{% block content %}

<style>
    #map {height: 880px; width: 1200px;}
</style>

<div class = "row mt-1 ml-1 mr-1">
    <div id="map" class="col-sm-12">
        {% for marker in markers %}
            L.marker([{{ marker.latitude }}, {{ marker.longitude }}]).addTo(map);
        {% endfor %}
    </div>
</div>


<script>
    
    var map = L.map('map').setView([45.47055, 9.1814], 13);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    // Fetch and display existing markers
    fetch('/get_markers/')
        .then(response => response.json())
        .then(data => {
            data.forEach(marker => {
                L.marker([marker.latitude, marker.longitude])
                    .addTo(map)
                    .bindPopup(`<b>${marker.title}</b><br>${marker.description}<br><small>Added by: ${marker.username}</small>`);
            });
        });
    
    map.on('click', function(e) {
        var lat = e.latlng.lat;
        var lng = e.latlng.lng;
        
        var title = prompt("Enter title:");
        var description = prompt("Enter description:");
        
        if (title && description) {
            var marker = L.marker([lat, lng]).addTo(map);
            marker.bindPopup(`<b>${title}</b><br>${description}<br><small>Added by: You</small>`).openPopup();
            
            // Send data to Django
            fetch('/save_marker/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({ title: title, description: description, latitude: lat, longitude: lng })
            }).then(response => response.json())
              .then(data => {
                  if (data.success) {
                      console.log("Marker saved!");
                  }
              });
        }
    });

   window.onload = window.onresize = function(){map.invalidateSize();};

       // Change default options
       L.control.rainviewer({ 
        position: 'bottomleft',
        nextButtonText: '>',
        playStopButtonText: 'Play/Stop',
        prevButtonText: '<',
        positionSliderLabelText: "Hour:",
        opacitySliderLabelText: "Opacity:",
        animationInterval: 500,
        opacity: 1
    }).addTo(map);

    
   
</script>



{% endblock %}