{% extends 'map/base.html' %}

{% block content %}

<style>
    #map {height: 880px; width: 1200px;}
    /* Custom style for markers with heavy rainfall */
    .rain-marker {
        background-color: red;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        border: 2px solid red;
    }
    .thumbs-section {
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }
    .thumbs-icon {
        transition: color 0.3s ease;
        cursor: pointer;
    }
    .thumbs-up-${marker.id}{
        
    }
    #raindrop-card {
        position: absolute;
        bottom: 20px;
        left: 20px;
        background-color: white;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }
    #raindrops {
        display: flex;
        gap: 10px;
    }
    .raindrop-btn {
        font-size: 24px;
        color: #007bff;
        background: transparent;
        border: none;
        cursor: pointer;
    }
    .raindrop-btn:hover {
        color: #0056b3;
    }
    .bi-droplet-fill, .bi_droplet {
        color: #1c74af;
    }
    #map-controls{
        position: absolute; 
        top: 90px; 
        right: 20px; 
        background: white; 
        padding: 15px; 
        z-index: 1000; 
        border-radius: 10px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(128, 128, 128, 0.6);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000;
    }
      
    .modal-box {
        background-color: white;
        padding: 20px 30px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0,0,0,0.25);
        position: relative;
        width: 90%;
        max-width: 400px;
        text-align: center;
        font-family: Arial, sans-serif;
    }
      
    .close-button {
        position: absolute;
        top: 10px;
        right: 15px;
        background: none;
        border: none;
        font-size: 22px;
        cursor: pointer;
    }
      
    .hidden {
        display: none;
    }      
    
</style>

<div class = "row mt-1 ml-1 mr-1">
    <div id="map" class="col-sm-12">
        {% for marker in markers %}
            L.marker([{{ marker.latitude }}, {{ marker.longitude }}]).addTo(map);
        {% endfor %}
    </div>
</div>

<div id="raindrop-card" class="card">
    <h5>Select Raindrops</h5>
    <div id="raindrops">
        {% for i in "12345" %}
        <button 
            class="raindrop-btn" 
            data-raindrop="{{ forloop.counter }}">
            <i class="bi bi-droplet"></i>
        </button>
        {% endfor %}
    </div>
    <p id="raindrop-info">Choose the number of raindrops</p>
</div>

<div id="map-controls" >
    <h4>Filters</h4>
    <div>
        <strong>User Type:</strong><br>
        <input type="checkbox" id="pedestrian" checked> Pedestrian<br>
        <input type="checkbox" id="driver" checked> Driver<br>
    </div>
    <div style="margin-top: 10px;">
        <strong>Layers:</strong><br>
        <input type="checkbox" id="highlights" checked> Highlights<br>
        <input type="checkbox" id="pins" checked> Pins<br>
    </div>
</div>

<div id="customAlertOverlay" class="modal-overlay hidden">
    <div class="modal-box">
      <button class="close-button" onclick="closeCustomAlert()">&times;</button>
      <p style="margin-top: 1rem;">You must be logged in to add markers.</p>
    </div>
  </div>

<script>
        
    var map = L.map('map').setView([45.47055, 9.1814], 13);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
    
    
    let userAuthenticated = false;

    // Fetch user's current location
    navigator.geolocation.getCurrentPosition(function(position) {
        map.setView([position.coords.latitude, position.coords.longitude], 15);
        
        const popup = L.popup({
            closeOnClick: false,
            autoClose: false
        })
        .setLatLng([position.coords.latitude, position.coords.longitude])
        .setContent("You're here!")
        .openOn(map);
    
        
        setTimeout(() => {
            map.closePopup(popup);
        }, 4000);
    });

    //let pinsData = [];
    const pinsLayerGroup = L.layerGroup().addTo(map);
    const highlightsLayerGroup = L.layerGroup().addTo(map);

    // Fetch and display existing markers
    fetch('/get_markers/')
        .then(response => response.json())
        .then(data => {
            const streetMarkerCounts = {}; 
            const markersOnStreet = {};
            const markerPromises = [];
            userAuthenticated = data.authenticated;
            data.markers.forEach(marker => {
                const markerCoordinates = [marker.latitude, marker.longitude];

                // Fetch street info (Overpass API)
                const overpassUrl = `https://overpass-api.de/api/interpreter?data=[out:json];way(around:50,${marker.latitude},${marker.longitude})[highway~"primary|secondary|tertiary|residential"];out geom;`;
                const fetchStreet = fetch(overpassUrl)
                    .then(response => response.json())
                    .then(streetData => {
                        streetData.elements.forEach(street => {
                            const coordinates = street.geometry.map(coord => [coord.lat, coord.lon]);
                            const streetName = street.tags.name || `Unnamed Street ${marker.id}`;
    
                            //Storing Markers
                            if (!markersOnStreet[streetName]) {
                                markersOnStreet[streetName] = [];
                            }
                            markersOnStreet[streetName].push(markerCoordinates);
    
                            
                            if (markersOnStreet[streetName].length >= 3) {
                                const pathCoords = connectTheDots(markersOnStreet[streetName]);
                                L.polyline(pathCoords, { color: '#2e84cb', weight: 7 }).addTo(map);
                            }
                        });
                    });

                markerPromises.push(fetchStreet);

                const markerLayer = L.marker([marker.latitude, marker.longitude])
                    .addTo(pinsLayerGroup)
                    .bindPopup(`<b>${marker.title}</b>
                                <br>${marker.description}<br>
                                <small>Disruption Type: ${marker.disruption_type}</small><br>
                                <div>${generateRaindropIcons(marker.raindrop_count)}</div>
                                <div class="thumbs-section mt-2">
                                    <button class="btn">
                                        <i id="thumbs-up-${marker.id}" style="color: green;" class="bi bi-hand-thumbs-up thumbs-icon" 
                                        onmouseover="fillIcon('thumbs-up-${marker.id}', true)" 
                                        onmouseout="fillIcon('thumbs-up-${marker.id}', false)"
                                        onclick="handleVote(${marker.id}, true)">
                                        </i>
                                        <span id="thumbs-up-count-${marker.id}">${marker.like_count}</span>
                                    </button>
                                    <button class="btn">
                                        <i id="thumbs-down-${marker.id}" style="color: red;" class="bi bi-hand-thumbs-down thumbs-icon" 
                                        onmouseover="fillIcon('thumbs-down-${marker.id}', true)" 
                                        onmouseout="fillIcon('thumbs-down-${marker.id}', false)"
                                        onclick="handleVote(${marker.id}, false)">
                                        </i>
                                        <span id="thumbs-down-count-${marker.id}">${marker.dislike_count}</span>
                                    </button>
                                </div>
                                <small>Added by: ${marker.username}</small><br>
                                <small>Date: ${marker.created_at}</small>`
                                );
                markerLayer.disruptionType = marker.disruption_type.toLowerCase();                
            });
            Promise.all(markerPromises).then(() => {
                updatePinsVisibility();
            });
        });
    
    
    function connectTheDots(markerCoords) {
        markerCoords.sort((a, b) => a[0] - b[0] || a[1] - b[1]);
        return markerCoords;
    }

    //Raindrop Selection
    const raindropButtons = document.querySelectorAll('.raindrop-btn');
    const raindropInfo = document.getElementById('raindrop-info');
    let selectedRaindropCount = 0; 
    
    
    
    raindropButtons.forEach((button, index) => {
        const raindropIndex = index + 1; 

        
        button.addEventListener('mouseover', () => fillRaindrops(raindropIndex));
        button.addEventListener('mouseout', () => resetRaindrops(selectedRaindropCount));

        
        button.addEventListener('click', () => {
            selectedRaindropCount = raindropIndex;
            raindropInfo.textContent = `You selected ${selectedRaindropCount} raindrop${selectedRaindropCount > 1 ? 's' : ''}`;
            resetRaindrops(selectedRaindropCount);
            addPins(); 
        });
    });
    
    // Adding Pins
    function addPins() {
        if (!userAuthenticated) {
            showCustomAlert("You must be logged in to add markers.");
            return;
        }
        if (selectedRaindropCount > 0) {
            navigator.geolocation.getCurrentPosition(function(position) {
                const userLat = position.coords.latitude;
                const userLng = position.coords.longitude;
    
                
                const pin = L.marker([userLat, userLng], { draggable: true }).addTo(map);

                pin.bindPopup(`
                    <form id="markerForm" class="form-group">
                        <div class="form-group">
                            <label for="title">Title:</label>
                            <input type="text" class="form-control" id="title" required><br>
                        </div>
                        <div class="form-group">
                            <label for="description">Description:</label>
                            <textarea class="form-control" id="description" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="disruption_type">Disruption Type:</label>
                            <select class="form-control" id="disruption_type">
                                <option value="">Select an option</option>
                                <option value="Flood">Flood</option>
                                <option value="Flooded Sidewalk">Flooded Sidewalk</option>
                                <option value="Flooded Crosswalk">Flooded Crosswalk</option>
                                <option value="Hazardous Infrastructure">Hazardous Infrastructure</option>
                                <option value="Splash Zone">Splash Zone</option>
                                <option value="Flooded Road">Flooded Road</option>
                                <option value="Flooded Parking Spaces">Flooded Parking Spaces</option>
                            </select>
                        </div>
                        <button type="button" class="btn btn-outline-dark" id="saveMarkerButton">Save Marker</button>
                         <button type="button" id="cancelButton" class="btn btn-outline-danger">Cancel</button>
                    </form>
                `).openPopup();

                pin.on('dragend', function() {
                    pin.openPopup();
                });
                
                pin.on('popupopen', function() {
                    const saveButton = document.getElementById('saveMarkerButton');
                    saveButton.addEventListener('click', function(event) {
                        event.preventDefault();
                        const form = document.getElementById('markerForm');
                        const title = form.querySelector('#title').value;
                        const description = form.querySelector('#description').value;
                        const disruptionType = form.querySelector('#disruption_type').value;

                        pin.unbindPopup();
                        pin.bindPopup(`
                            <b>${title}</b><br>${description}<br>
                            <small>Type: ${disruptionType}</small>
                            <div>${generateRaindropIcons(selectedRaindropCount)}</div>
                        `).openPopup();

                        
                        fetch('/save_marker/', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': '{{ csrf_token }}'
                            },
                            body: JSON.stringify({
                                title: title,
                                description: description,
                                disruption_type: disruptionType,
                                raindrop_count: selectedRaindropCount,
                                latitude: pin.getLatLng().lat,
                                longitude: pin.getLatLng().lng
                            })
                        }).then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                selectedRaindropCount = 0;
                                raindropInfo.textContent = 'Choose the number of raindrops';
                                resetRaindrops(selectedRaindropCount);
                                pin.closePopup();
                            }
                            else{
                                alert('Failed to save marker.');
                            }
                        }).catch(error => console.error('Error:', error));
                    });

                    document.getElementById('cancelButton').addEventListener('click', function() {
                        selectedRaindropCount = 0;
                        raindropInfo.textContent = 'Choose the number of raindrops';
                        map.removeLayer(pin); 
                        resetRaindropButton(); 
                        pin.closePopup(); 
                    });
                });
                
            });
        }
    }

    function handleVote(markerId, isThumbsUp) {
        fetch(`/vote/${markerId}/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken') // Include CSRF token if needed
            },
            body: JSON.stringify({ thumbs_up: isThumbsUp }),
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                // Update like and dislike counts dynamically
                document.getElementById(`thumbs-up-count-${markerId}`).textContent = data.thumbs_up_count;
                document.getElementById(`thumbs-down-count-${markerId}`).textContent = data.thumbs_down_count;
            } else {
                alert(data.message || 'Failed to record vote.');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Failed to record vote.');
        });
    }
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    // Fill Icons
    function fillIcon(iconId, isFilling) {
        const icon = document.getElementById(iconId);
        if (isFilling) {
            if (icon.classList.contains('bi-hand-thumbs-up')) {
                icon.classList.replace('bi-hand-thumbs-up', 'bi-hand-thumbs-up-fill');
            } else if (icon.classList.contains('bi-hand-thumbs-down')) {
                icon.classList.replace('bi-hand-thumbs-down', 'bi-hand-thumbs-down-fill');
            }
        } else {
            if (icon.classList.contains('bi-hand-thumbs-up-fill')) {
                icon.classList.replace('bi-hand-thumbs-up-fill', 'bi-hand-thumbs-up');
            } else if (icon.classList.contains('bi-hand-thumbs-down-fill')) {
                icon.classList.replace('bi-hand-thumbs-down-fill', 'bi-hand-thumbs-down');
            }
        }
    }

    // Fill Raindrops
    function fillRaindrops(count) {
        raindropButtons.forEach((button, index) => {
            const icon = button.querySelector('i');
            if (index < count) {
                icon.classList.replace('bi-droplet', 'bi-droplet-fill');
            } else {
                icon.classList.replace('bi-droplet-fill', 'bi-droplet');
            }
        });
    }

    // Resetting Raindrops
    function resetRaindrops(count) {
        raindropButtons.forEach((button, index) => {
            const icon = button.querySelector('i');
            if (index < count) {
                icon.classList.replace('bi-droplet', 'bi-droplet-fill');
            } else {
                icon.classList.replace('bi-droplet-fill', 'bi-droplet');
            }
        });
    }
   
    // Raindrop Icon Generator
    function generateRaindropIcons(count) {
        let raindropIcons = '';
        for (let i = 0; i < count; i++) {
            raindropIcons += '<i class="bi bi-droplet-fill" style="font-size: 16px; margin-right: 3px;"></i>'; // Filled raindrop icon
        }
        return raindropIcons;
    }


    //Testing Long and Lat
    map.on('click', function(e) {
        const clickedCoords = e.latlng;
        console.log(`Latitude: ${clickedCoords.lat}, Longitude: ${clickedCoords.lng}`);
    });

    
    // Fetch Street Data (Overpass API)
    async function fetchAndHighlightStreets(){
        //const response = await fetch('/api/fetch_street_coordinates/')
        const url = 'https://overpass-api.de/api/interpreter?data=[out:json];(way[highway~"primary|secondary|tertiary|residential"](45.43,9.104940891265871,45.534897172036985,9.256453514099123););out body;node(w);out skel;';
        try {
            const response = await fetch(url);
            const data = await response.json();
            await highlightStreetsOnMap(data); 
        } catch (error) {
            console.error("Error fetching Overpass data:", error);
        }
    }

    /*
    async function fetchAndHighlightStreets() {
        try {
            const response = await fetch('/fetch_street_coordinates/');
            const data = await response.json();
    
            for (const element of data.elements) {
                await highlightStreetsOnMap(element); 
            }
            console.log('All streets processed and highlighted.');
        } catch (error) {
            console.error("Error fetching street data:", error);
        }
    }
    */

    // Highlight Streets
    async function highlightStreetsOnMap(data) {
        const weatherFetchPromises = data.elements
        .filter(element => element.type === 'way')
        .map(async element => {
            const coordinates = element.nodes
                .map(nodeId => data.elements.find(e => e.id === nodeId && e.type === 'node'))
                .filter(node => node)
                .map(node => [node.lat, node.lon]);

            if (coordinates.length > 1) {
                const midpointIndex = Math.floor(coordinates.length / 2);
                const midpoint = coordinates[midpointIndex];

                
                await fetchWeatherAndHighlight(midpoint, coordinates);
                console.log("Success");
            }else{
                console.warn("Invalid coordinates for element:", element);
            }
        });

        await Promise.all(weatherFetchPromises); 
        console.log('All streets processed and highlighted.');
    }

    
    fetchAndHighlightStreets();

    // Fetch Weather and Highlight
    async function fetchWeatherAndHighlight(midpoint, coordinates) {
        const apiKey = '3534baf72dbcd1d79ae791c8240b6a74';
        const lat = midpoint[0];
        const lon = midpoint[1];
        const url = `https://api.openweathermap.org/data/2.5/weather?lat=${lat}&lon=${lon}&appid=${apiKey}`;
    
        try {
            const response = await fetch(url);
            const data = await response.json();
            const rainfall = data.rain ? data.rain['1h'] : 0;
    
            let color;
            if (rainfall >= 35) {
                color = '#ff0000'; // High Rainfall
            } else if (rainfall >= 10) {
                color = '#ff9e00'; // Moderate Rainfall
            } else if (rainfall > 0){
                color = '#ffe800'; // Low Rainfall
            }
    
            console.log(rainfall);
            L.polyline(coordinates, { color: color, weight: 2 }).addTo(highlightsLayerGroup);
        } catch (error) {
            console.error('Error fetching weather data:', error);
        }
    }

    document.getElementById('pedestrian').addEventListener('change', updatePinsVisibility);
    document.getElementById('driver').addEventListener('change', updatePinsVisibility);
    document.getElementById('highlights').addEventListener('change', toggleHighlightsVisibility);
    document.getElementById('pins').addEventListener('change', togglePinsVisibility);

    function updatePinsVisibility() {
        const showPedestrian = document.getElementById('pedestrian').checked;
        const showDriver = document.getElementById('driver').checked;
        const showPins = document.getElementById('pins').checked;

        if (!showPins) {
            document.getElementById('pedestrian').checked = false;
            document.getElementById('driver').checked = false;
        }

        pinsLayerGroup.eachLayer(marker => {

            if (!showPins) {
            map.removeLayer(marker);
            } else {
                if (showPedestrian && isPedestrianMarker(marker)) {
                    marker.addTo(map);
                } else if (showDriver && isDriverMarker(marker)) {
                    marker.addTo(map);
                } else {
                    map.removeLayer(marker); // Hide others
                }
            }
        });
    }

    function isPedestrianMarker(marker) {
        return marker.disruptionType === "flood" ||
               marker.disruptionType === "flooded sidewalk" ||
               marker.disruptionType === "flooded crosswalk" ||
               marker.disruptionType === "hazardous infrastructure" ||
               marker.disruptionType === "splash zone";
    }
    
    
    function isDriverMarker(marker) {
        return marker.disruptionType === "flood" ||
               marker.disruptionType === "flooded road" ||
               marker.disruptionType === "road block" ||
               marker.disruptionType === "flooded parking spaces" ||
               marker.disruptionType === "hazardous infrastructure";
    }

    function toggleHighlightsVisibility() {
        const showHighlights = document.getElementById('highlights').checked;
        if (showHighlights) {
            highlightsLayerGroup.addTo(map);
            //map.addLayer(highlightsLayerGroup);
        } else {
            map.removeLayer(highlightsLayerGroup);
        }
    }

    function togglePinsVisibility() {
        const showPins = document.getElementById('pins').checked;
        if (showPins) {
            map.addLayer(pinsLayerGroup);
        } else {
            map.removeLayer(pinsLayerGroup);
        }
    }

    function showCustomAlert(message) {
        const overlay = document.getElementById("customAlertOverlay");
        overlay.querySelector("p").textContent = message;
        overlay.classList.remove("hidden");
    }
    
    function closeCustomAlert() {
        document.getElementById("customAlertOverlay").classList.add("hidden");
    }
    
</script>
{% endblock %}